.cards {
  grid-column: span 2;
  @include pageLayout;
  row-gap: 4.8rem;

  @include onTablet {
    grid-column: span 6;
  }

  @include onDesktop {
    grid-column: span 12;
  }

  &__card {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;

    @include onTablet {
      gap: 3.2rem;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__photo {
    width: 100%;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 700;
    color: $main-accent;
  }

  &__desc {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    line-height: 2.7rem;
  }
}
