body {
  margin: 0;
  font-family: "Cinzel", serif;
  color: $text-color;
  min-width: 32rem;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  background-image: url(../images/photos/header__photo.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;

  @include defaulPaddingInline;
  padding-top: 2.5rem;

  &__title {
    width: fit-content;

    margin: 0 auto;
    padding: 0;
    margin-top: 12.9rem;

    font-family: "Cinzel", serif;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.15rem;

    @include hover(transform, scale(1.1));

    @include onTablet {
      font-size: 6.4rem;
      line-height: 6.4rem;
      margin-top: 3rem;
    }

    @include onDesktop {
      font-size: 8rem;
      line-height: 8rem;
      margin-top: 4.1rem;
    }
  }
}
