body {
  margin: 0;
  font-family: "Cinzel", serif;
  color: $text-color;
  min-width: 320px;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  background-image: url(../images/photos/header__photo.png);
  background-position: center;
  background-size: cover;

  @include defaulPaddingInline;
  padding-top: 25px;

  &__title {
    width: fit-content;

    margin: 0 auto;
    padding: 0;
    margin-top: 129px;

    font-family: "Cinzel", serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1.5px;

    @include hover(transform, scale(1.1));

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
      margin-top: 30px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
      margin-top: 41px;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  display: block;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icons/Icon-Phone-call.svg);
  }

  &--burger {
    background-image: url(../images/icons/Icon-Burger-menu.svg);
    transition: 0.2s;

    &:hover {
      background-image: url(../images/icons/Icon-Burger-menu-hover.png);
    }
  }
  &--cross {
    width: 24px;
    height: 24px;

    background-image: url(../images/icons/Icon-Close.svg);

    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
}
