.logo {
  display: flex;

  &__img {
    width: 6.4rem;
    height: 4.6rem;

    @include onTablet {
      width: 8.7rem;
      height: 6.5rem;
    }

    &--menu_size {
      @include onTablet {
        width: 6.4rem;
        height: 4.6rem;
      }

      @include onDesktop {
        width: 8.7rem;
        height: 6.5rem;
      }
    }
  }
}
