.main-content {
  @include defaulPaddingInline;
  padding-top: 10rem;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;

  @include onTablet {
    padding-top: 14rem;
  }
}
