.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: 700;

  &__icons {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    @include onTablet {
      gap: 5rem;
    }
  }

  &__phone {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    column-gap: 2rem;
  }

  &__adress-info {
    display: grid;
    row-gap: 0.8rem;
    text-align: right;
    transform: translateX(-30%);
    opacity: 0;
    transition: 0.3s;
    height: 0;

    @include onTablet {
      height: fit-content;
    }

    @include onDesktop {
      height: fit-content;
    }
  }

  @include onTablet {
    &__phone:hover {
      .top-bar__adress-info {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &__phone-number {
      text-decoration: none;
      color: $text-color;
    }
  }
}
