.view {

  &__photos {
    @include pageLayout;

    &--triple {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.8rem;
    }

    @include onTablet {
      @include pageLayout;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 1;

    @include onTablet {
      &--optional {
        width: 0;
        height: 0;
      }

      &--wide {
        grid-column: span 4;
      }

      &--square {
        grid-column: span 2;
      }

      &--square-big {
        grid-column: span 3;
      }
    }

    @include onDesktop {
      &--optional {
        width: 100%;
        height: 100%;
        grid-column: span 4;
      }

      &--wide {
        grid-column: span 8;
      }

      &--square {
        grid-column: span 4;
      }

      &--square-big {
        grid-column: span 4;
      }
    }
  }

  &__info {
    margin-top: 2.4rem;
    grid-column: span 2;
    line-height: 2.7rem;

    @include onTablet {
      grid-column: span 6;
    }
  }

  &__title {
    color: $main-accent;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__desc {
    font-size: 1.6rem;
  }

  &__button {
    margin-top: 4rem;
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }
  }
}
