@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin defaulPaddingInline {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop() {
    padding-inline: 120px;
  }
}

@mixin hoverUnderline {
  width: fit-content;
  position: relative;
  transition: 0.3s;
  transform-origin: left;

  &::after {
    position: absolute;
    bottom: -8px;

    display: block;
    content: "";
    height: 1px;
    background-color: #fff;
    width: 100%;
    transform-origin: left;
    transform: scale(0);
    transition: 0.3s;
  }

  &:hover::after {
    transform: scale(1);
  }
}

@mixin pageLayout {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12;
  }
}
